/*Footer Style */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color:#ffa31a;
    text-align: center;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
  }

.footer p {
    color: black;
  }

.footer li {
    display: inline-block;
  }

  .footer i {
    font-size: 25px;
    color: black;
  }
