/* CSS style created by David Pham */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic */

body {
	font-family: "Arial", "arial sans";
	font-size: 14px;
}
/*Topnav Style */

